@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    
    /* theme colors */
    --bg-light: #fff;
    --active-clr: #9747FF;
    --inactive-clr: rgba(0, 0, 0, 0.25);
    --success: #9BE4AB;
    --danger: #F4A7A7;
    --warning: #E4E777;
    --pink: #FFAEFC; 
    --purple:#A871F1;


    /* typography */
    --h1: 1.5rem;
    --p: .938rem;
    --small: 625rem;
    --poppins: 'Poppins', sans-serif;
}
.sidebar {
    margin: 0;
    width: 280px;
    box-shadow: inset -5px -2px 8px -4px var(--inactive-clr);
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  .sidebar a.active {
    color: var(--active-clr);
  }
  div.content {
    margin-left: 280px;
    height: 1000px;
  }
  .content{
    box-shadow: inset -3px 4px 8px -4px var(--inactive-clr);
  }
  .topnav{
    box-shadow: inset -3px -3px 8px -4px var(--inactive-clr);
}
.card{
    padding: 1em;
    color: white;
}

  
  @media screen and (max-width: 780px) {
    .sidebar {
      width: 100%;
      height: auto;
      bottom:0;
      position: fixed;
      display:flex; 
      flex-direction: row;
      justify-content:space-around;
      background: #fff;
      z-index: 3;
      box-shadow: none;
    }
    .sidebar a {
        display:flex; 
        flex-direction:row; 
    }
    .topnav{
      box-shadow: none;
    }
    div.content {
        margin-left: 0;
    }
  }
