body{
    background: #e4e9f7;
    overflow-x: hidden;
}
.sidenav{
    min-height: 100%;
    width: 280px;
    transform: translateX(-100%);
    position: fixed;
    transition: all .4s ease;
    background: #3F4E4F;
}
.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 0;
}
.icon{
    font-size: 23px;
    width: 60px;
}
.nav-link:hover{
    border-radius: 0;
    background: linear-gradient(
        to right,
        #395B64, 
        transparent);
    border-left: 3px solid whitesmoke;
    color: whitesmoke;
}
.main-container {
    position: relative;
    margin-left: 0px;
    transition: all .4s ease;
}
.content{
    min-height: 100vh;
}
.sidenav-nav{
    padding: 55px 0px;
}
.active-nav{
    transform: translateX(0%);
}
.active-content{
    margin-left: 260px;
}
.sidelink-active{
    border-left: 4px solid gray;
}
.sidenav-footer{
    padding: 5px 8px 10px 8px;
}
.sidenav-footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 8px 10px 8px;
    text-decoration: none;
    color: whitesmoke;
}
.sidenav-footer a .icon{
    font-size: 25px;
    width: 40px;
}
.footer{
    height: 7rem;
    background-color: whitesmoke;
}